appdirs==1.4.3
artifacts-keyring==0.3.1
asn1crypto==0.24.0
astroid==2.4.2
attrs==19.1.0
autopep8==1.4.4
black==19.3b0
bleach==3.1.5
CacheControl==0.12.5
cachetools==3.1.1
certifi==2020.6.20
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.3
coverage==5.2
cryptography==2.7
docutils==0.16
entrypoints==0.3
flake8==3.7.8
freeze==1.0.10
grpcio==1.23.0
idna==2.10
importlib-metadata==1.7.0
isort==4.3.21
keyring==21.2.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
msgpack==0.6.1
packaging==20.4
pep8==1.7.1
pip-check-reqs==2.1.1
pkginfo==1.5.0.1
protobuf==3.9.1
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.6.1
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.0
pytz==2019.2
pywin32-ctypes==0.2.0
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.0
six==1.15.0
sosi-crawler-interfaces==0.1.21
sosi-crawler-object-factory==0.0.11
soupsieve==1.9.3
toml==0.10.1
tqdm==4.47.0
twine==3.2.0
typed-ast==1.4.1
uritemplate==3.0.0
urllib3==1.25.9
virtualenv==16.7.9
webencodings==0.5.1
wrapt==1.12.1
zipp==3.1.0
